<h1 id="tableLabel">Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!pruebaSD"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="pruebaSD">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nombre</th>
      <th>Apellido</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pruebasSD of pruebaSD">
      <td>{{ PruebaSD.Id }}</td>
      <td>{{ PruebaSD.nombre }}</td>
      <td>{{ PruebaSD.apellido  }}</td>
    </tr>
  </tbody>
</table>
